h2 {
    font-size: x-large;
    color: white;
}
img {
    border-radius: 5px;
}
.movie {
    margin: 20px 0;
}
.movie .movie__images div.thumbnails .carousel {
    width: 100%;
    display: flex;
}
.movie .movie__images div.thumbnails .carousel .slick-item {
    transition: all 0.3s ease;
}
.movie .movie__images div.thumbnails .carousel .slick-item:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.mobileView{
    display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
.desktopView{
    display: none;
}
.mobileView{
    display: block;
}
.movie-tile-image{
    width: 40vw !important;
    height: 35vh !important;
}
h2{
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 0 .5em 0;
    color: #999;
}
}

@media only screen and (min-device-width: 500px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .desktopView{
        display: none;
    }
    .mobileView{
        display: block;
    }
    .movie-tile-image{
        width: 40vw !important;
        height: 35vh !important;
    }
    h2{
        font-size: 1.2em;
        font-weight: 700;
        margin: 0 0 .5em 0;
        color: #999;
    }
    }