<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/Joker.jpg" alt="joker">
                <h3>Joker</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.</p>
                <a href="">Play</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/Joker.jpg" alt="joker">
                <h3>Joker</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.</p>
                <a href="">Play</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/Joker.jpg" alt="joker">
                <h3>Joker</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.</p>
                <a href="">Play</a>
            </div>
        </div>
    </div>
</div>